@import url('https://fonts.googleapis.com/css2?family=Arbutus+Slab&family=Poppins:wght@500&display=swap');
.bg{
    background-image: url(./images/Full.png);
    
    background-size: cover;
}
.bimg{
    background-image: url(./images/bgcontact.png);
}

@media (min-width: 768px) and (max-width: 991px) {

    .bg{
  background-image: none;
  background-color: #10265f;
}

}

@media (max-width: 1200px) {

    .video{
  display: none;
}


}